.container{
    height: 250px;
    width: 250px;
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
    /* margin: auto; */
    /* transform: rotateX(180deg); */
    /* transform: rotateY(90deg); */

    /* transform: rotateZ(45deg); */

    /* transform: rotate(360deg); */

    /* transform: translateX(100px);
    transform: translateY(100px); */

    transform: translateZ(100px);

    margin: 100px auto;
    /* transition-duration: 5s; */
    /* transition-delay: 5s; */
    /* transform: rotate(45deg); */
}

.container:hover{
    /* transform: scale(1.5); */
    transition-delay: 1s;

    transform: skewY(45deg);
}