*{
    padding: 0;
    margin: 0;
}
.container{
    border: 10px dashed yellow;
    height: 100px;
    width: 100px;
    /* padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 40px; */

    /* padding: 10px 40px 30px 20px; */
    padding: 20px 50px;

    margin: auto;
}