*{
    margin: 0;
    padding: 0;
}
.container{
    border: 2px solid green;
    
}
.child{
    height: 100px;
    width: 100px;
    border: 1px solid red;
}

.child1{
    position: relative;
    left: 200px;
    top: 300px;
}
 