*{
    margin: 0;
}
#para{
    border: 10px dashed red;
    padding: 20px;
    padding-left: 100px;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-right: 0;

    padding: 80px 0 40px 100px;

    padding: 100px 80px;
    margin-left: 30px;
    width: 300px;

    margin: auto;
}