.box{
    height: 250px;
    width: 250px;
    border: 2px solid black;

    margin: 100px auto;

    /* transform: rotateX(360deg); */
    /* transform: rotateY(45deg); */
    /* transform: rotateZ(135deg); */

    /* transform: rotate(45deg); */

    /* transform: translateX(100px); */
    /* transform: translateY(-100px); */

    /* transform: translateZ(100px); */
    transition-duration: 5s;
}

.box:hover{
    
    /* transition-delay: 3s; */
    background-color: blue;
    /* transform: scaleX(1.5); */
    /* transform: scale(1.3); */

    transform: skew(45deg);

}