.child{
    height: 100px;
    width: 100px;
    border: 2px solid blue;
}

.container{

    /* height: 120vh; */
    border: 2px solid red;
    display: flex;
    /* flex-direction: row-reverse; */

    /* justify-content: center; */
    /* justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly; */
    /* justify-content: flex-end; */
    height: 90vh;
    align-items: center;
    align-items: flex-start;
    align-items: flex-end;
    
  
}