.box{
    height: 150px;
    width: 150px;
    border: 2px solid red;
    position: absolute;
    /* animation-name: anime;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite; */

    animation-name: changePos;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
    animation-timing-function: ease-in-out;
}

@keyframes changePos{
    0%{
        top: 0;
        left: 0;
        background-color: aqua;
    }
    25%{
        top: 0;
        left: 300px;
        background-color: blueviolet;
        border-radius: 50%;
    }
    50%{
        top: 300px;
        left: 300px;
        background-color: brown;
        border-radius: 0;
    }
    75%{
        top: 300px;
        left: 0;
        background-color: green;
        border-radius: 50%;
    }

    100%{
        top: 0;
        left: 0;
        background-color: aqua;
    }

}

@keyframes anime{
    /* from{
        top: 0;
        left: 0;
    }
    to{
        top: 0;
        left: 300px;
    } */
    0%{
        top: 0;
        left: 0;
    }
    100%{
        top: 0;
        left: 300px;
    }
}