*{
    margin: 0;
    padding: 0;
}
.container{
     height: 100vh;
     background-image: url(./img/Space.png);
     /* background-size: cover; */
     background-color: skyblue;
     animation-name: bgMove;
     animation-duration: 3s;
}

@keyframes bgMove{
    100%{
        background-position: 7000px;
    }
}

.rocket img{
    border: 2px solid red;
    height: 200px;
    width: 200px;
}

.rocket{
    border: 2px solid green;
    width: 200px;
}