.container{
    border: 2px solid red;
}

.child1{
    height: 100px;
    width: 100px;
    border: 2px solid green;
    float: right;
}

.child2{
    height: 200px;
    width: 100px;
    border: 2px solid green;
    float: right
}