.child{
    height: 100px;
    width: 100px;
    border: 2px solid red;
}

.container{
    display: flex;
    border: 2px solid green;

    /* flex-direction: row-reverse;
    flex-direction: column-reverse;
    height: 120vh; */

    /* justify-content: center;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly; */

    height: 90vh;

    align-items: center;
    align-items: flex-start;
    align-items: flex-end;

    justify-content: center;
    align-items: center;
}