*{
    margin: 0;
    padding: 0;
}
.nav{
    height: 75px;
    background-color: #F7F4ED;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link{
    border: 2px solid red;
    margin-right: 55px;
    height: 35px;
}

.logo{
    border: 2px solid red;
    margin-left: 55px;
    height: 35px;
}