.container{
    display: grid;

    grid-template-columns: 100px 200px 100px 300px;
    grid-template-rows: 50px 200px 100px 150px;
}

.child1{
  background-color: aqua;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.child2{
  background-color: brown;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.child3{
  background-color: blueviolet;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  
}

.child4{
  background-color: yellow;
  grid-column: 1/5;
  grid-row: 4/5;
}