.container{
    display: grid;
    /* grid-template-columns: 100px 100px 100px 150px 50px 50px 50px; */
    grid-template-columns: repeat(3,100px) 150px repeat(3,50px);
    grid-template-rows: repeat(3,100px) repeat(2,50px) ;

    grid-template-areas: 
    "a1 a1 a1 a2 a2 a3 a3"
    "a4 a4 a4 a2 a2 a3 a3"
    "a4 a4 a4 a2 a2 a3 a3"
    "a5 a5 a5 a5 a5 a5 a5"
    "a5 a5 a5 a5 a5 a5 a5";
}

.child1{
    background-color: aqua;
    grid-area: a1;
}
.child2{
    background-color: magenta;
    grid-area: a2;
}

.child3{
    background-color: teal;
    grid-area: a3;
}

.child4{
    background-color: brown;
    grid-area: a4;
}

.child5{
    background-color: blueviolet;
    grid-area: a5;
}