.box{
    height: 90vh;
    width: 90vw;
    border: 2px solid red;
    /* background-image: url(https://images.unsplash.com/photo-1517598970010-ec9e96fe0a7f?q=80&w=1787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */

    /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Virat_Kohli_in_PMO_New_Delhi.jpg/220px-Virat_Kohli_in_PMO_New_Delhi.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -200px; */

    background-image: url(https://images.unsplash.com/photo-1621944860890-ec7d53c45a5f?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

    background-size: cover;
}