.child{
    border: 2px solid red;
    text-align: center;
    display: none;
}

@media (max-width:300px){
    .child1{
        display: block;
    }
}

@media (min-width:300px) and (max-width:600px){
    .child2{
        display: block;
    }
}

@media (min-width:601px) and (max-width:800px){
    .child3{
        display: block;
    }
}